{% load static %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2>My Cellar</h2>
            <p>This is my cellar.</p>
            <span id='span_a'>Hello Carlos</span>
        </div>
        <script src="{% static 'wine/displaCyENT.js' %}"></script> 
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'wine/entities.css' %}">       
        {% block javascript %}{% endblock %}
    </body>
</html>