{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block sidenavcontent %}
<form role="search" class="bd-search d-flex align-items-center">
  <button class="btn bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse"
    data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
    aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
      viewBox="0 0 30 30" role="img" focusable="false">
      <title>Menu</title>
      <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
        d="M4 7h22M4 15h22M4 23h22"></path>
    </svg></button>
</form>
{% include "./sidebar.html"  %}

{% endblock %}

{% block content %}
<!--<h1>Dashboard</h1>
<p>Welcome to your dashboard. You can <a href="{% url "account:edit" %}">edit your profile</a> or <a
    href="{% url "account:password_change" %}">change your password</a>.</p>-->
    <!--<div class="search-box"> -->
    <div class="container-fluid" style="margin-left:4rem; max-width: 50rem;">
      
      <h3 class="mt-1 py-2">Hot reviews</h3>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">2016 Comte Lafon Montrachet</h5>
          <h6 class="card-subtitle mb-4 text-muted">Burgundy, France</h6>
          <div class="card-reviews">
            <p class="card-text mb-0">Victor Perez-Tort <span class="text-muted">(@vpwines)</span><span class="h4 text-muted align-top"><sup> . </sup></span><small class="text-muted">Jan 12,2021</small></p>
            <p class="card-text review"><span class="crop-text">🍷🍷 Very well integrated and powerful wine that screams for attention. This was my first hillstone, first observation, this wine needs time to reach its full potential. Even after a double-decant and 3+ hours open before consumption, it was very tight. I won't open this wine for another 3-5 years. Purple rich with a combination of black-red fruit. On the nose dark berry, currant, notes of cigar box, and black licorice. Tannins and acidy well integrated with a hint of bitterness on the post taste. Still very young and not even close of leaving its primary drinking window. Lastly the finish is just a summary of everything you can smell and taste, and very prolonged. I'm starting to think 2010 will be one of those vintage that need cellar time. But would they ever show the the sweet spot I'm looking for???...I can only hope</span><a class='hide-more' href="#">More</a></p>
            <p class="card-text mb-0">Victor Perez-Tort <span class="text-muted">(@vpwines)</span><span class="h4 text-muted align-top"><sup> . </sup></span><small class="text-muted">Jan 12,2021</small></p>
            <p class="card-text review"><span class="crop-text">🍷🍷 Very well integrated and powerful wine that screams for attention.</span><a class='hide-more' href="#">More</a></p>
          </div>
          <!--<a href="#" class="card-link">Card link</a>-->
          <!--<a href="#" class="card-link">Another link</a>-->
          <div class="carousel mt-4"  data-flickity='{ "initialIndex": 2 }'>
            <div id="2001" class="carousel-cell cell1"><img src="/media/Comte_Lafon_Montrachet.jpg" alt="orange tree"/></div>
            <div id="2002" class="carousel-cell cell2"><img src="/media/2004-CVNE-Imperial-Gran-Reserva-Spain-Red-750-ml-63284-750-XX4_83.jpg" alt="orange tree"/></div>
            <div id="2003" class="carousel-cell"><img src="/media/2010-Murrieta-Ygay-Gran-Reserva-Especial-Spain-Red-750-ml-90060-750-AI_61.jpg" alt="orange tree"/></div>
            <div id="2004" class="carousel-cell"><img src="/media/2015-Barbi-Brunello-di-Montalcino-Brunello-750-ml-88091-750-AI_70.jpg" alt="orange tree"/></div>
            <div id="2005" class="carousel-cell"><img src="/media/2015-San-Filippo-Brunello-di-Montalcino-Brunello-750-ml-88217-750-AI_123.jpg" alt="orange tree"/></div>
            <div id="2006" class="carousel-cell"><img src="/media/2016-Ulysses-California-Red-750-ml-91502-750-AI_73.jpg" alt="orange tree"/></div>
            <div id="2007" class="carousel-cell"><img src="/media/2017-Quilceda-Creek-CVR-Columbia-Valley-Red-Wine-Washington-Red-750-ml-91380-750_88.jpg" alt="orange tree"></div>
          </div>
      </div>
    </div>
    </div>
    <br/>
    <h4>Upcoming Allocations</h4>

      
{% endblock %}

{% block  javascript %}
 <script>
   $( document ).ready(function() {
    alert("hello");

   $(document).on('focusout','.vinomio-search',function(){
      console.log('fired focusout')
      //$('.search-results').remove()
    })
    var clickfired = false
    $('#winesearch_input')
      .autocomplete({
            minLength: 0,
            source: function( request, response ) {
                $.ajax({
                    url: "/wine/p/",
                    type: 'get',
                    dataType: "json",
                    data: {
                        search_simple_query_string:function(){
                          string = request.term.replace(/\s+/g, '+')
                          //console.log(request.term.length)
                          return string + (request.term.length > 0 ? "*" : "");
                          
                        }
                    },
                    success: function( data ) {
                        clickfired = true;
                        wine_items = $.map( data.results, function( item ) {
                          var object = new Object();
                          object.id = item.id
                          object.producer = item.producer
                          object.wine = item.wine
                          object.vintage = item.vintage;
                          return object
                        });
                        //console.log(wine_items)
                        //Producers
                        producers_matches = [...new Set(wine_items.map(x => x.producer))]
                        producers_list = $.map(producers_matches, function(item){
                          slug = Slugify.get(item)
                          return {'type':'p','list_item':'<li><a href="/wine/inventory/wine/?producer='+slug+'" class="default-link mr-2"><span class="vinomio-search-item">'+item+'</span></a></li>'}
                        });
                        wine_matches = [...new Set(wine_items.map(x => x.producer+'%'+x.wine))]
                        //console.log(wine_matches)
                        wine_list = $.map(wine_matches, function(item){
                          vintage = ""
                          producer = Slugify.get(item.split("%")[0])
                          wine = Slugify.get(item.split("%")[1])
                          //console.log(wine_items[0])
                          q = "?producer="+producer
                          q += "&wine="+ wine 
                          
                          if(/[0-9]{4}/.test(request.term)){
                            vintage = String(request.term).match(/[0-9]{4}/) + " " ;
                            q += "&vintage="+ vintage 
                          }
                          return {'type':'w','list_item':'<li><a href="/wine/inventory/wine/'+q+'" class="default-link mr-2"><span class="vinomio-search-item">'+vintage+' '+item.replace("%"," ")+'</span></a></li>'}
                        });

                        $('.search-results').remove()
                        
                        //console.log(wine_list.filter(p => p.type =='w').map(i => i.list_item).join(" "))

                        $('#main-search').append(
                            '<div class="search-results">'+
                              '<div class="search-result-detail">'+
                                (producers_list.filter(p => p.type =='p').length == 0 ? "" : '<div class=""><strong>Producer</strong><ul class="m-0" style="list-style-type: none;padding-left: 15px;">'+producers_list.filter(p => p.type =='p').map(i => i.list_item).join(" ") +'</ul></div>')+
                                (wine_list.filter(p => p.type =='w').length == 0 ? "" : '<div class=""><strong>Wine</strong><ul class="m-0" style="list-style-type: none;padding-left: 15px;">'+wine_list.filter(p => p.type =='w').map(i => i.list_item).join(" ") +'</ul></div>'+
                              '</div>'+
                            '</div>')
                           );
                        //console.log(results)
                    }
                });
            },
            select: function (event, ui) {
                //console.log(ui.item)
                $("#id_varietalId").text(ui.item.id)
            }
        })
       .on('click', function(){ 
          $('#main-search').append('<div class="search-results"><div class="search-result-detail"><h6>Try Searching For:</h6><ul style="list-style-type: none;padding-left: 15px;">'+
          '<li><i class="fas fa-search mr-2" style="color: #888;"></i></span><span class="vinomio-search-item">Wine..</span></li>'+
          '<li><i class="fas fa-search mr-2" style="color: #888;"></i></span><span class="vinomio-search-item">Region..</span></li>'+
          '<li><i class="fas fa-search mr-2" style="color: #888;"></i></span><span class="vinomio-search-item">Tasting Note..</span></li>'+
          '<li><i class="fas fa-search mr-2" style="color: #888;"></i></span><span class="vinomio-search-item">Producer..</span></li>' +
          '</ul><div></div>');
        })
        .on('focusout',function() {
          if(!clickfired)
            $('.search-results').remove()
       });
    $('.crop-text').toArray().forEach( function(e){
        clientHeight = $(e)[0].clientHeight;
        ct = $(e).first().css("-webkit-line-clamp","4")
        newclientHeight = $(e)[0].clientHeight;
        if(clientHeight == newclientHeight)
            $(e).parent().find("a.hide-more").css("visibility", "hidden")
    });
    var $carousel = $('.carousel').flickity({
          initialIndex: 3,
          cellAlign: 'left',
          contain: true
    });
    $carousel.on( 'select.flickity', function( event, index ) {
      $('.card-title').text($(event.currentTarget).find('.carousel-cell.is-selected')[0].id + " Comte Lafon Montrachet")
      $('div.card-reviews').empty()
      if(index %2 == 0)
        $('div.card-reviews').html('<p class="card-text mb-0 text-muted">Carlos Rivera wrote:</p><p class="card-text">July 12, 2020 - Thankfully, the 2016 Meursault 1er Cru Genevrieres was a normal crop from Dominique Lafon, comprising ten and a half barrels. It has a vivid, hazelnut and flinty bouquet that is a little stricter than other years but very well focused. ...<small class="text-muted">More</small></p>');
      else
      $('div.card-reviews').html('<p class="card-text mb-0 text-muted" >Victor Perez-Tort wrote:</p><p class="card-text">Jan 12, 2008 - 🍷🍷 wow excelente vino con 24 meses de barrica nueva Roble Francés excelente fruta y estructura para ...<small class="text-muted">More</small></p>');
    });

    /* chart.js chart examples */

    // chart colors
    var colors = ['#007bff','#00cc66','#ff4d4d','#c3e6cb','#dc3545','#6c757d'];

    var chBar = document.getElementById("chBar");
    var chartData = {
      labels: ["USA", "France", "Argentina", "Germany", "Spain", "Portugal", "Chile", "Other"],
      datasets: [{
        label: 'Region',
        barThickness: 12,
        data: [150, 25, 2, 1, 10, 2, 4,75],
        backgroundColor: colors[0]
      },
      {
        label: 'Limit',
        barThickness: 12,
        data: [0, 25, 10, 20, 10, 49, 40,10],
        backgroundColor: colors[1]
      },
      {
        barThickness: 12,
        data: [-10, 0, 0, 0, 0, 0, 0,0],
        backgroundColor: colors[2]
      },/*
      {
        data: [639, 465, 493, 478, 589, 632, 674],
        backgroundColor: colors[4]
      }*/]
    };

    var chBubble = document.getElementById("chBubble");
    var chartBubbleData = {
                  datasets:[
                        {
                          backgroundColor:  [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(255, 159, 64, 0.2)'
                          ],
                          label: 'Cabernet Sauvignon',
                          data:[{x:1,y:1,r:3},
                                {x:1,y:2,r:2}]
                          
                        },
                        {
                          label: 'Pinot Noir',
                          data:[{x:1,y:1,r:3},
                                {x:2,y:3,r:15}]
                        },
                        {
                          label: 'Other',
                          data:[{x:1,y:1,r:8},
                                {x:2,y:3,r:5}]
                        },
                  ]
    };
    var options = {
                    scaleShowValues: true,
                    scales: { xAxes: [{ticks:{
                                              autoSkip: false,
                                              min: 0,
                                              max:5,
                                              userCallback: function(label, index, labels) {
                                                  // when the floored value is the same as the value we have a whole number
                                                  if (Math.floor(label) === label) {
                                                    if(Math.floor(label) == 1)
                                                        return "USA"
                                                      else if(Math.floor(label) == 2)
                                                        return "France"
                                                      else if(Math.floor(label) == 3)
                                                        return "Italy"
                                                      else if(Math.floor(label) == 4)
                                                        return "Spain"
                                                        else if(Math.floor(label) == 5)
                                                        return "Other"
                                                      return label;
                                                    }
                                                },
                                            }},],
                              yAxes: [{ticks:{
                                              autoSkip: false,
                                              min: 0,
                                              max:4,
                                              userCallback: function(label, index, labels) {
                                                  // when the floored value is the same as the value we have a whole number
                                                  if (Math.floor(label) === label) {
                                                      if(Math.floor(label) == 1)
                                                        return "1st Qtr"
                                                      else if(Math.floor(label) == 2)
                                                        return "2nd Qtr"
                                                      else if(Math.floor(label) == 3)
                                                        return "3rd Qtr"
                                                      else if(Math.floor(label) == 4)
                                                        return "4th Qtr"
                                                      return label;
                                                    }
                                                },
                                      }},]
                              },
                    responsive: true,
                    title:{display:true,text:'Consumption Chart'},
                    tooltips: {mode: 'point'}
                  };
    if (chBubble) {
      new Chart(chBubble, {
                              type: 'bubble',
                              data: chartBubbleData,
                              options: options
                             });
    }

    if (chBar) {
      new Chart(chBar, {
                          type: 'horizontalBar',
                          data: chartData,
                          options: {
                            scales: {
                            xAxes: [{
                              ticks: {},
                              stacked: true
                            }],
                            yAxes: [{
                                      stacked: true
                                    }]
                            },
                            responsive : true,
                            legend: false,
                            title: {
                                    display:true, 
                                    text:'Region Tracker'
                            }
                          },
                        });
    }
  });

 </script>
{% endblock %}