<nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
    <div class="bd-toc-item active">
        <div class="card" style="width: 21rem;">
            <h5 class="card-header">Carlos' Cellar</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-7">
                    <span class="card-subtitle text-muted">Minikahda Cellar</span>
                </div>
                <div class="col text-right">
                    <span class="card-text text-muted">Add</span>
                  </div>
              </div>
                <div class="row">
                    <div class="col-9">
                        <i class="fas fa-igloo"></i> <span class="ml-1 card-text">Stored</span>
                    </div>
                    <div class="col text-right">
                      <span class="card-text">1348</span>
                    </div>
                    <div class="col-9">
                        <i class="fas fa-truck"></i><span class="ml-1 card-text">Pending Delivery</span>
                    </div>
                    <div class="col text-right">
                      <span class="card-text"></span>9938</span>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent">
                <div id="container" style="width: 100%;">
                    <canvas id="chBar" height="250"></canvas>
                </div>
                <div id="container" style="width: 100%;">
                    <canvas id="chBubble" height="250"></canvas>
                </div>
                <!--<canvas id="chBar" height="100"></canvas>-->
            </div>
        </div>
    </div>
  </nav>