{% extends "base.html" %}
{% load wine_tags %}
{% load crispy_forms_tags %}
{% block title %}Registered {{section|title}} {% endblock %}

{%block sidenavcontent %}
    
    {% include "../main_sidebar.html" with inventory=inventory section=section %}
    {% terroir_treeview %}
    
{% endblock %}

{% block content %}
  {% include "./terroir_list.html" with inventory=inventory_object section=section %}
{% endblock %}

{% block  javascript %}
<script>
   function sitckysidebarselector() {

      if($('.bd-sidebar').height() <= $('#terroir-list').height()){
        /*$('.bd-sidebar').css("height","calc(100vh - 0rem");*/
        console.log("small list: " + $('.bd-sidebar').height() +" vs" + $('#terroir-list').height())
        /*$('.bd-sidebar').css("height","auto");*/
      }
      else{
        console.log("sidebar is  larger " + $('.bd-sidebar').height() +" vs" + $('#terroir-list').height())
      }
   }
   function hidden()
   {
       terroir_btn = $("div .terroir-action-show,.terroir-action");
       if($(terroir_btn).hasClass("terroir-action-show"))
          $(terroir_btn).toArray().forEach(e => e.style.zIndex="0");
       else
          $(terroir_btn).toArray().forEach(e => e.style.zIndex="");
       
   }
   function shownoshow(checkbox){
        if($(checkbox).is(':checked')){
            terroirdiv = $('div .terroir-action');
            $(terroirdiv).removeClass("terroir-action")
            $(terroirdiv).addClass("terroir-action-show")
        }
        else{
            terroirdiv = $('div .terroir-action-show');
            $(terroirdiv).removeClass("terroir-action-show")
            $(terroirdiv).addClass("terroir-action")
        }
   }
   $( document ).ready(function() {
    let selected_node = undefined;
     $('.treeview').mdbTreeview();
     const csrftoken = Cookies.get('csrftoken');
     var minlength = 3;
     var searchRequest = null;
     let new_parentterroir = null;

     //var $bdsidebar = $('.bd-sidebar');
     //$bdsidebar.bind("DOMSubtreeModified", sitckysidebarselector);
     //var $terroirlist = $('#terroir-list');
     //$terroirlist.bind("DOMSubtreeModified", sitckysidebarselector);

     $(".terroir-action").bind("transitionend", hidden);
     $(".terroir-action-show").bind("transitionend", hidden);
     //$(document).bind('transitionend', ".terroir-action", hidden)
     //$(document).bind('transitionend', ".terroir-action-show", hidden)

     $(document).on('click','#customCheckAll',function(even){
        checked = $(this).is(':checked');
        ($('div .custom-checkbox,.terroir input')).toArray().forEach(function(i){
            $(i).prop('checked', checked)
        });
        shownoshow($(this))
     });
     $(document).on('click','input[name="terroirCheck"]',function(even){
        if(!$('#customCheckAll').is(':checked'))
           shownoshow($(this))
     });
     $(document).on('click', '.action-button-link.delete',function(){
        var selected = [];
        $.map($('input[name=terroirCheck]:checked'), function(input){
            selected.push({id:$(input).attr('id')})
        });
        $.ajax({
                type: "DELETE",
                url: "/api/terroir/",
                data: JSON.stringify(selected),
                contentType: "application/json; charset=utf-8", 
                headers:{"X-CSRFToken": csrftoken},
                dataType: "json",
                success: function(data){
                    alert("done!");
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
        });
     });
     $(document).on("keyup.autocomplete","#search-region-w-ac", function(){
        $(this).autocomplete({
            appendTo: ".modal-body",
            minLength: 3,
            source: function( request, response ) {
                $.ajax({
                    url: "/api/terroir/",
                    type: 'get',
                    dataType: "json",
                    data: {
                        search: request.term
                    },
                    success: function( data ) {
                        //console.log(data.results)
                        response( $.map( data.results, function( item ) {
                            var object = new Object();
                            object.id = item.id;
                            object.label = item.name;
                            object.value = item.name;
                            return object
                        }));
                    }
                });
            },
            select: function (event, ui) {
                console.log(ui.item)
                new_parentterroir = undefined
                new_parentterroir = ui.item.id
            }
        });
     });
     $("#searchItem").on('keyup',function(){
          var that = this,
          value = $(this).val();
          if (value.length >= minlength ) {
            //if (searchRequest != null){
            //    console.log("aborted!")
            //    searchRequest.abort();
            //}
            //searchRequest = 
            $.ajax({
                type: "GET",
                url: "/wine/inventory/terroir/",
                //contentType: "application/json; charset=utf-8", 
                //async: false,
                dataType: 'JSON',
                headers:{"X-CSRFToken": csrftoken},
                data: {
                    'name' : value
                },
                dataType: "text",
                success: function(msg){
                    $("#terroir-list").html($(msg).find('#terroir-list')[0].innerHTML)
                    $(".terroir-action").bind("transitionend", hidden);
                    $(".terroir-action-show").bind("transitionend", hidden);
                }
            }).done(function(){
               console.log("done!")
            });
          }
     });
     $(document).on('drop','.droppable', function(event){
            var data = event.originalEvent.dataTransfer.getData("text");
            event.target.parentNode.parentNode.parentNode.parentNode.lastElementChild.appendChild(document.getElementById(data))
            //event.target.parentNode.parentNode.parentNode.lastElementChild.appendChild(document.getElementById(data));
            var selected = []
            selected.push({id:parseInt(selected_node), parentterroir: parseInt($(this)[0].parentNode.parentNode.id)})
            console.log(selected)
            
            $.ajax({
                    type: "PATCH",
                    url: "/api/terroir/",
                    data: JSON.stringify(selected),
                    contentType: "application/json; charset=utf-8", 
                    headers:{"X-CSRFToken": csrftoken},
                    dataType: "json",
                    success: successCallback
                });
                function successCallback(response) {
                        console.log("Update Done!")
                }
        });
     $(document).on('dragover','.droppable', function(event){
            event.preventDefault();
            let over_id = $(this)[0].parentNode.parentNode.id;
            console.log(selected_node + " dragged over " + $(this).find('a')[0].innerText +" ["+over_id+"]")
        });
     $(document).on('dragstart','.draggable', function(event){
            selected_node = $(this)[0].parentNode.parentNode.id
            console.log("dragstart " + selected_node);
            event.originalEvent.dataTransfer.setData("text",selected_node);
        });
     $(document).on('click', '.wr-is-clickable', function(){
        let parent_content = $(this)[0].nextElementSibling
        let nested_active_node =$($(this)[0].parentNode).find(".nested")[0]

        if (!$(this).hasClass("stage-up") && !$(this).hasClass("stage-down")){
            if ($(this).hasClass("down"))
                $($(this)[0]).addClass("stage-down");
            else{
                $($(this)[0]).addClass("stage-down");
                $($(this)[0]).addClass("down");
            }
        }
        else{
            if (!$(this).hasClass("down") && $(this).hasClass("stage-down")){
                $($(this)[0]).removeClass("stage-down");
                $($(this)[0]).addClass("stage-up");
                $(nested_active_node).removeClass('active')
            }
            else if ($(this).hasClass("down") && $(this).hasClass("stage-down")){
                $($(this)[0]).addClass("stage-up");
                $($(this)[0]).removeClass("down");
                $($(this)[0]).removeClass("stage-down");
                $(nested_active_node).removeClass('active')
            }
            else if (!$(this).hasClass("down") && $(this).hasClass("stage-up")){
                $($(this)[0]).removeClass("stage-up");
                $($(this)[0]).addClass("stage-down");
                $($(this)[0]).addClass("down");
            }
            else if ($(this).hasClass("down") && $(this).hasClass("stage-up"))
            {
                $($(this)[0]).removeClass("stage-up");
                $($(this)[0]).addClass("stage-down");
                $(nested_active_node).removeClass('active')
            }
            else
            {
                print("????")
            }
        }
        if ($(this).hasClass("down")){
            $(nested_active_node).removeClass('d-none')
            $(parent_content).find('i').removeClass('rotate-bottle')
            parentterroir_id=$(this)[0].parentNode.id
            if(parentterroir_id != undefined && parentterroir_id != ""){
                $.ajax({
                    url: "/api/terroir/",
                    type: 'get',
                    dataType: "json",
                    data: {
                    parentterroir: parentterroir_id
                    },
                    success: successCallback
                });
            }
        }
        else{
          $(nested_active_node).addClass('d-none')
          $(parent_content).find('i').addClass('rotate-bottle')
        }
        function successCallback(response) {
            if (!$(nested_active_node).hasClass('active'))
                $(nested_active_node).addClass('active')
            $(nested_active_node).empty()
            subregions = $.map( response.results, function( item ) {
                            console.log(Slugify.get(item.country_name))
                            return '<li id="'+item.id+'" class="tree-item">'+(item.with_subterroir == "True" ?'<i class="fas fa-angle-right rotate wr-is-clickable"></i>':'')+'<span><i class="fas fa-wine-bottle rotate-bottle ic-w mx-1 draggable" draggable="true"></i><span class="droppable"><a id="'+item.id+'" href="#" class="click-region-name"><small>'+item.name+'</small></a></span></span><ul class="nested"></ul></li>'
                          });
            $(nested_active_node).append(subregions)
          }
     });
     $(document).on('click','#region-nav',function(event,action){
        event.preventDefault();

        $('div #terroir-list').empty()
        $.ajax({
            url: $(this).attr('href'),
            type: 'get',
            success: successCallback
        });
        function successCallback(response) {
            $('div #terroir-list').html($(response).html())
            $(".terroir-action").bind("transitionend", hidden);
            $(".terroir-action-show").bind("transitionend", hidden);
            console.log('bind!')
        }
     });
     $(document).on('click', '.click-region-name,.click-region-country', function(event, action){
        event.preventDefault();
        if($(this).hasClass("iscountry")){
            console.log("country")
        }

        let url="/wine/inventory/terroir/"
        if($(this).hasClass("click-region-country"))
            url+=Slugify.get($(this).text())+"/";
        if($(this).hasClass("click-region-name"))
            url+=$(this).attr('id')+"/";

        $('div #terroir-list').empty()
        $.ajax({
            url: url,
            type: 'get',
            success: successCallback
        });
        function successCallback(response) {
            $('div #terroir-list').html($(response).html())
            $(".terroir-action").bind("transitionend", hidden);
            $(".terroir-action-show").bind("transitionend", hidden);
            console.log('bind!')
        }
     });
     $(document).on('click','#update-terroir',function(event){
        var selected = [];
        //parentterroir__name
        $.map($('input[name=terroirCheck]:checked'), function(input){
            selected.push({id:$(input).attr('id'),parentterroir:new_parentterroir})
        });
        $.ajax({
                type: "PATCH",
                url: "/api/terroir/",
                data: JSON.stringify(selected),
                contentType: "application/json; charset=utf-8", 
                headers:{"X-CSRFToken": csrftoken},
                dataType: "json",
                success: function(data){
                    alert("done!");
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
        });
     });
     $(document).on('show.bs.modal','#RelocateTerroirModal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        //var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        //modal.find('.modal-title').text('New message to ')
        //modal.find('.modal-body input').val(recipient)
     });
  });
</script>
 
{% endblock %}















