{% extends "base.html" %}
{% load wine_tags %}
{% load crispy_forms_tags %}
{% block title %}Registered {{section|title}} {% endblock %}

{%block sidenavcontent %}
    
    {% include "../main_sidebar.html" with inventory=inventory section=section %}

     <!--
    <div class="treeview w-20 border canscroll">
      <ul class="mb-1 pl-3 pb-2 wr-root"> 
        {% for region in inventory_object %}
        <li id="{{region.id}}"><i class="fas fa-angle-right rotate wr-is-clickable"></i>
          <span><i class="far fa-globe ic-w mx-1 draggable" draggable="true"></i>
              <span class="droppable">
                  <a href="#" class="click-region-name">{{region.name}}</a>
              </span>
          </span>
          <ul class="nested">
          </ul>
        </li>
        {% endfor %}
    </ul>  
    </div>
     -->
{% endblock %}

{% block content %}
{% for model in inventory_object %}
  {% if forloop.first %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Full Terroir</th>
        
      </tr>
    </thead>
    <tbody>
    {% endif %}
      <tr>
        <td>{{ model.name }}</td>
        <td>{{ model.country }}</td>
        <td>{{ model.id|region_traverse }}</td>
      </tr>
    {% if forloop.last %}
        </tbody>
      </table>
      {% include "../pagination.html" with inventory_object=inventory_object %}
    {% endif %}
{%empty%}
  There are no {{section|title}}s yet.  
{% endfor %}
{% endblock %}

{% block  javascript %}
<script>
   $( document ).ready(function() {
     var minlength = 3;
     var searchRequest = null;
     $("#searchItem").on('keyup',function(){
      var that = this,
          value = $(this).val();
          if (value.length >= minlength ) {
            if (searchRequest != null) 
                searchRequest.abort();
            searchRequest = $.ajax({
                type: "GET",
                url: "/api/terroir/",
                data: {
                    'search' : value
                },
                dataType: "text",
                success: function(msg){
                    //we need to check if the value is the same
                    if (value==$(that).val()) {
                    //Receiving the result of search here
                    console.log(msg)
                    }
                }
            });
          }
     });
  });
</script>
 
{% endblock %}
