<div class="treeview">
    <h6 class="pt-3 pl-3">Wine Regions</a></h6>
    <hr>
    <ul class="pl-3 wr-root" style="list-style-type:none;"> 
        {% regroup terroirs by country as terroirs_by_country %}
        {% for country in terroirs_by_country %}
        <li id="{{region.id}}"><i class="fas fa-angle-right rotate wr-is-clickable"></i>
            <span><i class="fas fa-globe-europe ic-w mx-1 draggable" draggable="true"></i>
                <span class="droppable">
                    <a href="#" class="click-region-country"><small>{{country.grouper}}</small></a>
                </span>
            </span>
            <ul class="nested d-none">
                {% for region in country.list %}
                <li id="{{region.id}}"><i class="fas fa-angle-right rotate wr-is-clickable"></i>
                    <span><i class="fas fa-wine-bottle rotate-bottle ic-w mx-1 draggable" draggable="true"></i>
                        <span class="droppable">
                            <a href="#" class="click-region-country"><small>{{region}}</small></a>
                        </span>
                    </span>
                    <ul class="nested"></ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>   
</div>