{% load wine_tags %}
{% load crispy_forms_tags %}
<div id="terroir-list">
  {% if terroir %}
  <div>
    <h3>{{terroir.name}}</h3>
    <h6 class="text-muted">{{terroir.region_traverse}}</h6>
    <p></p>
  </div>
  {%endif%}
  {% for model in inventory_object %}
  {% if forloop.first %}
  <div class="d-flex flex-row bd-highlight mb-2">
    <div class="d-none p-2 bd-highlight"><span class="keep-tag-together"><a class="action-button-link">Move Terroir</a></span></div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheckAll">
            <label class="custom-control-label" for="customCheckAll"></label>
          </div>
        </th>
        <th>Name</th>
        <th>Country</th>
        <th>Full Terroir</th>
      </tr>
    </thead>
    <tbody>
      {% endif %}
      <tr>
        <td>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"  id="customCheck{{model.id}}">
            <label class="custom-control-label" for="customCheck{{model.id}}"></label>
          </div>
        </td>
        <td>{{ model.name }}</td>
        <td>{{ model.country }}</td>
        <td>{{ model.id|region_traverse }}</td>
      </tr>
      {% if forloop.last %}
    </tbody>
  </table>
  {% include "../pagination.html" with inventory_object=inventory_object %}
  {% endif %}
  {%empty%}
  There are no {{section|title}}s yet.
  {% endfor %}
</div>