{% extends "base.html" %}
{% load wine_tags %}


{%block sidenavcontent %}
    {% include "../main_sidebar.html" with inventory=inventory section=inventory.section%}
{% endblock %}

{% block content %}

   
{% with showonly=7 %}
<div style="border: 1px solid #ddd;padding:10px;margin-bottom;">
{% for model in wines %}
  {% if forloop.first == True %}
    <div class="pb-2 row">
      <div class="col-sm-6 col-md-7 col-lg-9">
        <strong>Wine Name</strong>
      </div>
      <div class="col-auto">
        <strong>Vintage</strong>
      </div>
    </div>
    {% endif %}
  <div class="tr row">
    <div class="col-sm-6 col-md-7 col-lg-9">
      <a href="{% url 'wine:wine_detail' pk=model.id%}">{{model}}</a>
    </div>
    <div class="col-lg-3 col-sm-1">
      <div class="winelisting">
        {% if model.vintages_indexing|length > 0 %}
          <div class="flex-row">
            {% for vintage in model.vintages_indexing %}
            <div class="vintage-tag {% if forloop.counter > showonly %}d-none hideme{%endif%}">
              <span class="keep-tag-together"><a class="vintage-filter">{{vintage}}</a></span>
            </div>
            {% endfor %}
          </div>
          {% if model.vintages_indexing|length > showonly %}
          <div class="row">
            <div class="col">
              <strong class="small"><a class="showall" href="#">Show all {{model.vintages_indexing|length}} vintages</a></strong>
            </div>
          </div>
          {%endif%}
          <div class="row">
            <div class="col">
              <span class="strong"><a href="/wine/inventory/wine/{{model.id}}/vintage/add/" class="small">New Vintage</a></span>
            </div>
          </div>
        {% else %}
          <span><a href="/wine/inventory/wine/{{model.id}}/vintage/add/" class="small">Add Vintage</a></span>
        {% endif %} 
     </div>
    </div>
  </div>
  {%empty%}
  {% with inventory|first as item %}
    There are no {{item.section|title}}s yet.  
  {%endwith%}
{% endfor %}
</div>
{% endwith %}
{% include "../pagination.html" with page_obj=page_obj %}
{% endblock %}

{% block  javascript %}
<script>
   $( document ).ready(function() {
    var showonly = 7

     $(".showall").on('click', function(event){
       targetrow = $(this).closest('.winelisting').find('.hideme')
       vintage_cnt = $(targetrow).parent().find('.vintage-tag').length;

       if($(targetrow).hasClass("d-none")){
          $(targetrow).removeClass("d-none")
          $(targetrow).addClass('d-inline')
          $(this).text("Only show " + showonly +" recent vintages")
       }
       else if ($(targetrow).hasClass('d-inline')){
          $(targetrow).removeClass("d-inline")
          $(targetrow).addClass('d-none')
          $(this).text("Show all "+ vintage_cnt + " vintages")
       }
      
     });
   });
</script>
{% endblock %}

