{% extends "base.html" %}
{% block content %}
{% load wine_tags %}

<div style="border: 1px solid #ddd;padding:10px;margin-bottom;">
{% for model in inventory_object %}
{% if forloop.first == True %}
  <div class="pb-2 row">
    <div class="col-9">
      <strong>Wine Name</strong>
    </div>
    <div class="col-auto">
      <strong>Vintage</strong>
    </div>
  </div>
  {% endif %}
  <div class="tr row">
    <div class="col-9">
      {{ model }}
    </div>
    <div class="col-auto">
      <div class="container vintage-container">
        {% if model.vintages_indexing|length > 0 %}
          <div class="flex-row">
            {% for vintage in model.vintages_indexing %}
            <div class="vintage-tag">
              <span class="keep-tag-together"><a class="vintage-filter">{{vintage}}</a></span>
            </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col">
              <strong class="small">View all {{model.vintages_indexing|length}} vintages</strong>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="strong"><a href="/wine/inventory/wine/{{model.id}}/vintage/add/" class="small">New Vintage</a></span>
            </div>
          </div>
        {% else %}
          <span><a href="/wine/inventory/wine/{{model.id}}/vintage/add/" class="small">Add Vintage</a></span>
        {% endif %} 
     </div>
    </div>
  </div>
{% endfor %}
</div>
{% include "../pagination.html" with inventory_object=inventory_object %}

{% endblock %}