{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Wine Vintage{% endblock %}
{% load wine_tags %}
{%block sidenavcontent %}
    {% include "../main_sidebar.html" with inventory=inventory section=inventory.section %}
{% endblock %}
{% block content %}
<div id='model-list'>
  <div class="accordion" id="accordionExample2">
    {% regroup serializer|dictsortreversed:"year" by year as year_list %}
    {% regroup serializer by country_name as country_list %}
    {% for country in country_list %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{forloop.counter}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-{{forloop.counter}}">
            {{country.grouper}}
          </button>
      </h2>
      <div id="collapse-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading-{{forloop.counter}}" data-bs-parent="#accordionExample2">
        <div class="accordion-body">
          <div class="row" >
            <div class="col-3" ></div>
            {% for year in year_list%}
            <div class="col m-0 p-0">{{year.grouper}}</div>
            {%endfor%}
          </div>
          {% regroup country.list by region_name as region_list %}
          {% for region in region_list %}
          <div class="row" style="background-color: #aaa; color: whitesmoke;" >
              <div class="col-3" >
                {{region.grouper}}
              </div>
          </div>
          {% regroup region.list by varietal.mastervarietal_name as mastervarietal_list %}
          {% for varietal in mastervarietal_list %}
          <div class="row" >
              <div class="col-3">
                <div class="text-end"><small>{{varietal.grouper}}</small></div>
              </div>
              
              {%for year in year_list%}
                {% with varietal.grouper|add:"-"|add:year.grouper as key%}
                <div class="col px-2" >
                  {% with key|is_in:mastervarietal_list as score %}
                    {%if score == "0"%}
                    <a href="{% url 'wine:vintage_add' region=region.grouper|slugify grape=varietal.grouper|slugify year=year.grouper %}">-</a>
                    {%else%}
                      <small>{{score}}</small>
                    {%endif%}
                  {%endwith%}
                </div>
                {% endwith %}
              {%endfor%}
          </div>
          {% endfor %}
          {% endfor %}
        </div>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
{% endblock %}