{% extends "cellar/base.html" %}

{% block javascript %}
  <script>
    $( document ).ready(function() 
    {
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        console.log( csrftoken);
        var winename= "{{ wine.wine.name }}"
        console.log("==>" + winename )

        var displacy = new displaCyENT('http://127.0.0.1:8000/analytics/displacy/?wine_id={{ wine.wine_id }}', {
        container: '#wine-content-displacy',csrftoken: csrftoken})
        displacy.parse(winename,)
        
        /*$.ajax(
        {
            
            type:"GET",
            url: "/analytics/displacy/",
            data:{
                    wine_id: wineid
            },
            success: function( data ) 
            {
                //$('#wine-content-displacy').html(data);
            }
        })*/
    });
  </script>
{% endblock %}

{% block content %}
    <div id="wine-content-detail">
        <p>Testing ID: "{{ wine.wine_id }}"<p/>
        <h2>{{wine.wine.producer.name}}</h2>
        <h3>Vintage: {{wine.year}}</h3>
        <h4>{{wine.wine.name}}</h4>
        <h4>Release Price: {{wine.price}}</h4>
        {% if review.all %}
            <span>Reviews</span>
            {% for r in review.all %}
                <li>{{r.critic.name}}</li>
                <span>{{r.observation}}</span>
            {% endfor %}
        {% else %}
            <span>No Reviews</span>
        {% endif %}
        <div id="wine-content-displacy"></div>
    </div>
{% endblock %}