{% extends "base.html" %}
{% load crispy_forms_tags %}
{%block content %}
<form action="" method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" id="submitProducer"  class="btn btn-dark">SUBMIT</button>
</form>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function() {

        
        $('#div_id_name div').addClass('input-group')
        $('#div_id_name div').append('<div class="input-group-append"><button id="bulkregion" class="btn btn-outline-secondary" type="button">Bulk</button></div>')
        $('#div_id_bulk').hide()
        $(document).on("click","#bulkregion", function(){
            $('#div_id_bulk').show()
            $('#div_id_name').hide()
        });
        $(document).on("keyup.autocomplete","#id_region", function(){
            $(this).autocomplete({
                minLength: 3,
                source: function( request, response ) {
                    $.ajax({
                        url: "/api/region/",
                        type: 'get',
                        dataType: "json",
                        data: {
                            search: request.term
                        },
                        success: function( data ) {
                            //console.log(data.results)
                            response( $.map( data.results, function( item ) {
                                var object = new Object();
                                object.id = item.id;
                                object.label = item.name;
                                object.value = item.name;
                                return object
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    console.log(ui.item)
                    new_parentregion = undefined
                    new_parentregion = ui.item.id
                    $("#id_region_hidden").val(new_parentregion)
                }
            });
        });
    });
</script>
{% endblock %}