{% load wine_tags %}
{% load crispy_forms_tags %}
<div id="region-list">
  {% if not iscountry %}
  <input type="hidden" class="region-count" id="{{region.region.id}}" name="{{region.region.name}}" value="{%if region%}{{region.id|child_count}}{%else%}000{%endif%}">
  {%endif%}  
  <!-- Modal -->
    <div class="modal fade" id="RelocateregionModal" tabindex="-1" role="dialog" aria-labelledby="RelocateregionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="RelocateregionModalLabel">Relocate Region</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body mb-0 pb-1">
              <div class="mb-2 d-flex">
                <button type="button" class="mr-5 btn btn-primary btn-sm set-region-parent">Move to Parent</button>
              </div>
              <p class="h6">-OR-</p>
              <div class="mb-0 form-group">
                <input type="search" class="form-control" id="search-region-w-ac" placeholder="Relocate to...">
                <div class="mt-1 d-flex justify-content-end checkbox">
                  <label><input type="checkbox"><span class="pl-2">Relocate all<span class="pl-1" id="region-count"></span></span></label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="update-region" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
      </div>
    </div>
  {% if region %}
  <div>
    <h3><a id="{{region.id}}" href="#" class="{% if iscountry == True %}click-region-country{%else%}click-region-name{%endif%}">{{region.name}}</a>{% if iscountry == False %}<small class="pl-2"><a href="{% url 'wine:region_update' country=region.country.slug region=region.slug %}" class="text-muted h5"><i class="fas fa-edit"></i></a></small>{%endif%}</h3>
    <h6 class="text-muted">
      {% if not region.region and not iscountry %}
        <a id="{{region.id}}" href="{% url 'wine:region_country' country=region.country.slug %}" class="click-region-country"><span class="text-muted">{{region.country.name}}</span></a>
      {%endif%}
      {% for region in region.related_regions %}
        <a id="{{region.id}}" href="{% url 'wine:region_country' country=region.country.slug region=region.slug %}" class="click-region-name"><span class="text-muted">{{region.name}}</span></a> {% if forloop.last %}{%else%}>{%endif%}
      {% endfor %}
    </h6>
    <p></p>
  </div>
  <div class="d-flex justify-content-end">
    {% if region.slug == None %}
    <a class="btn tn-link" href="{% url 'wine:region_add' country=region.country.slug %}" role="button"><i class="pr-1 fas fa-plus-square"></i>Add Region</a>
    {% else %}
     <a class="btn tn-link" href="{% url 'wine:region_add' country=region.country.slug region=region.slug %}" role="button"><i class="pr-1 fas fa-plus-square"></i>Add Region</a>
    {%endif%}
  </div>
  
  {%endif%}
  {% for region in regions %}
  {% if forloop.first %}
  <div class="d-flex flex-row bd-highlight mb-1">
    <div class="bd-highlight region-action"><span class="keep-tag-together"><a href="#" class="action-button-link" data-toggle="modal" data-target="#RelocateregionModal">Move region</a></span></div>
    <div class="bd-highlight region-action"><span class="keep-tag-together"><a href="#" class="action-button-link delete">Delete region</a></span></div>
    <div class="bd-highlight region-action"><span class="keep-tag-together"><a href="#" class="action-button-link hide">Hide region</a></span></div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheckAll">
            <label class="custom-control-label" for="customCheckAll"></label>
          </div>
        </th>
        <th>Name</th>
        <th>Country</th>
        <th>Full region</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      {% endif %}
      <tr>
        <td>
          <div class="custom-control custom-checkbox region" style="z-index: 0;">
            <input type="checkbox" class="custom-control-input" name="regionCheck" id="{{region.id}}">
            <label class="custom-control-label" for="{{region.id}}"></label>
          </div>
        </td>
        <td><a id="{{region.id}}" href="{% url 'wine:region_country' country=region.country.slug region=region.slug %}" class="click-region-name">{{ region.name }}</a></td>
        <td>{{ region.country }}</td>
        <td>{{ region.id|region_traverse }}</td>
        <td>{{ region.id|child_count }}</td>
      </tr>
      {% if forloop.last %}
    </tbody>
  </table>
    {% if region %}
       {% if iscountry %}
          {% with 'region/'|add:region.slug as section %}
          {% include "../pagination.html" with id="region-nav" inventory_object=regions section=section%}
          {% endwith %}
       {% else %}
          {% with region.id|stringformat:'i' as regionid %}
            {% with 'region/'|add:regionid as section %}
            {% include "../pagination.html" with id="region-nav" inventory_object=regions section=section%}
            {% endwith %}
          {% endwith %}
          {% endif %}
    {% else %}
      {% include "../pagination.html" with page_obj=page_obj %}
    {% endif %}
  {% endif %}
  {%empty%}
  There are no {{section.section|title}}s yet.
  {% endfor %}
</div>