{% extends "base.html" %}
{% load crispy_forms_tags %}
{%block sidenavcontent %}
<div class="card ml-2 mt-5 border-light" style="width:95%;">
    <div class="card-header">
        Vinomío Inventory
    </div>
    <ul class="list-group sidebar-list-group">
        {% for item in inventory %}
            <li class="list-group-item d-flex justify-content-between align-items-center nopadding{% if section == item.name %}bg-dark{% endif %}"> 
                <a href="{% url 'wine:inventory' section=item.section %}" class="ml-2 default-link nopadding">Total {{item.name}}</a>
            <span class="mr-2 badge badge-primary badge-pill">{{ item.count }}</span>
            </li>
        {% endfor %}
    </ul> 
</div>  
{% endblock %}

{% block content %}

{% endblock %}