{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}VinoMio Inventory {% endblock %}
{%block sidenavcontent %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="card ml-2 mt-5 border-light" style="width:95%;">
    <div class="card-header">
        Vinomío Inventory
    </div>
    <ul class="list-group sidebar-list-group">
        {% for item in inventory %}
            <li class="list-group-item justify-content-between align-items-center nopadding {% if section == item.name %}bg-dark{% endif %}"> 
                <div class="row no-gutters">
                    <div class="col-8">
                        <a id="inventory-link" href="{% url 'wine:inventory' section=item.section %}" name={{item.section}} class="default-link nopadding">{{item.name}}</a>
                    </div>
                    <div class="col">
                        <span class="badge badge-primary badge-pill">{{ item.count }}</span>
                    </div>
                    <div class="col">
                        <a href="{% url 'wine:inventory' section=item.section %}add/">Add</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul> 
</div>  
{% endblock %}

{% block content %}
    <div id="inventory-body" ></div>
{% endblock %}

{% block  javascript %}
 <script>
   $( document ).ready(function() {
       $(document).on( 'click','#inventory-link', function(){
            event.preventDefault();
            $(".sidebar-list-group li").removeClass("selected")
            $(this).parent().addClass("selected")

            $.ajax({
                url: "/wine/inventory/"+$(this).attr('name')+"/",
                context: document.body,
                    success: function successCallback(response){
                        $("#inventory-body").empty()
                        $("#inventory-body").append(($(response).find('main.bd-content')[0].innerHTML))
                    },
                    error: function (textStatus, errorThrown) {
                        alert(textStatus)
                         console.log(textStatus)
                         console.log(errorThrown)
                    }
                });
       });
   });
</script>
{% endblock %}