{% load humanize %}


{% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="mt-5" style="padding-left:1rem;padding-top:1rem;padding-right:1rem;width:100%;">
{% with inventory|first as item %}
    {% if item.search == "ON" %}
    <div class="form-group pb-3">
        <input type="search" class="form-control" id="id_wine_searcher" placeholder="Search for {{item.section}}">
    </div>
    {% endif %}
{% endwith %}
    <div class="card border-light" >
        <div class="card-header">
            Vinomío Inventory
        </div>
        <ul class="list-group list-group-flush sidebar-list-group">
            {% for item in inventory %}
                <li class="list-group-item  {% if section == item.name %}bg-dark{% endif %}"> 
                    <div class="d-flex bd-highlight">
                        <div class="flex-grow-1 bd-highlight">
                            <a id="inventory-link" href="/wine/inventory/{{item.section}}" name={{item.section}} class="default-link nopadding">{{item.name}}</a>
                        </div>
                        <div class="px-4 bd-highlight">
                            <small>{{ item.count|intcomma}}</small>
                        </div>
                        <div class="px-1 bd-highlight">
                            <small><a href="/wine/inventory/{{item.section}}/add/">Add</a></small>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-5">
                            <a id="inventory-link" href="/wine/inventory/{{item.section}}" name={{item.section}} class="default-link nopadding">{{item.name}}</a>
                        </div>
                        <div class="col-3 text-right">
                            <small>{{ item.count|intcomma }}</small>
                        </div>
                        <div class="col-4 text-right" style="background-color: aqua;">
                            <small><a href="/wine/inventory/{{item.section}}/add/">Add</a></small>
                        </div>
                    </div>-->
                </li>
            {% endfor %}
        </ul> 
    </div>
</div>