<div class="pagination">
    <span class="step-links">
        {% if inventory_object.has_previous %}          
            <a {% if id %}id="{{id}}"{%endif%} class="paginatior previous" href="/wine/inventory/{{section}}/?page={{ inventory_object.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            {{inventory_object}}
        </span>

        {% if inventory_object.has_next %}
            <a {% if id %}id="{{id}}"{%endif%} class="paginatior next" href="/wine/inventory/{{section}}/?page={{ inventory_object.next_page_number }}">next</a>
        {% endif %}
    </span>
</div